{% load static %}
<section id="about" class="scrollspy-section margin-xlarge">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    <img src="static/img/Rc6.png" alt="image1" class="circular-image" id="image1">
                    <img src="static/img/Rc2.png" alt="image2" class="circular-image" id="image2">
                    <img src="static/img/Rc3.png" alt="image3" class="circular-image" id="image3">
                    <img src="static/img/Rc4.png" alt="image4" class="circular-image" id="image4">
                    <img src="static/img/Rc5.png" alt="image5" class="circular-image" id="image5">
                </div>
            </div>
            <div class="col-md-7 offset-md-2 description">
                <div class="section-header">
                    <h2 class="section-title">Our<span>Journey</span></h2>
                </div>
                <p>Welcome to Heaven Plates! We're just a bunch of food enthusiasts who love cooking up delicious dishes
                    from all over the world. Our journey started with a shared love for good food and a curiosity about
                    different flavors.</p>
                <p>Heaven Plates is our way of sharing the fantastic recipes we've discovered on our food adventure.
                    We've gathered tasty ideas from places like bustling markets and cozy kitchens, creating a
                    collection of recipes that are easy to make and guaranteed to make your taste buds happy.
                </p>
                <p>Food, to us, is like a language that everyone speaks. It's a way to connect with people and cultures.
                    Whether you're a kitchen pro or just starting out, we invite you to join us in exploring simple,
                    tasty recipes. Come along as we celebrate the joy of making and enjoying heavenly plates right in
                    your own kitchen. Here's to good food and great company!</p>
                <div class="btn-wrap">
                    <a href="#">Read More</a>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="static/img/chef1.png">
                <div class="info">
                    <h2 class="name">Chef Steve</h2>
                    <p class="bio">Loves making delicious dishes that make people smile.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="static/img/chef2.png">
                <div class="info">
                    <h2 class="name">Chef Mary</h2>
                    <p class="bio">Creates tasty and unique meals to surprise your taste buds.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="static/img/chef3.jpeg">
                <div class="info">
                    <h2 class="name">Chef Sachin</h2>
                    <p class="bio">Enjoys making food that's not just delicious but also fun to eat.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="static/img/chef4.jpeg">
                <div class="info">
                    <h2 class="name">Chef Anju</h2>
                    <p class="bio">Passionate about creating meals that bring joy and satisfaction.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="static/img/chef5.jpeg">
                <div class="info">
                    <h2 class="name">Chef Antony</h2>
                    <p class="bio">Dedicated to making dishes that you'll remember and crave again.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>