{% load static %}
<div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>
        <div class="review_box">
            <div class="review_card">
                <div class="review_profile">
                    <img src="static/img/Re1.jpg">
                </div>
                <div class="review_text">
                    <h2 class="name">John Dev</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"Found this recipe site and loved it! Easy-to-follow instructions, and my family loved the
                        results. Excited to explore more!"
                    </p>
                </div>
            </div>

            <div class="review_card">
                <div class="review_profile">
                    <img src="static/img/Re2.jpg">
                </div>
                <div class="review_text">
                    <h2 class="name">Kaviya K</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"Perfect for beginners! Tried the chicken alfredo, and it was a hit. Boosting my
                        kitchen confidence!"
                    </p>
                </div>
            </div>

            <div class="review_card">
                <div class="review_profile">
                    <img src="static/img/Re3.jpg">
                </div>
                <div class="review_text">
                    <h2 class="name">Arthi S</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"A treasure trove of delights! The chocolate lava cake was a showstopper. Beautiful pictures
                        and easy-to-follow recipes."
                    </p>
                </div>
            </div>

            <div class="review_card">
                <div class="review_profile">
                    <img src="static/img/Re4.jpg">
                </div>
                <div class="review_text">
                    <h2 class="name">Adam A</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"My go-to recipe site! User-friendly layout, and the vegetarian section is impressive.
                        Flavors are outstanding."
                    </p>
                </div>
            </div>

            <div class="review_card">
                <div class="review_profile">
                    <img src="static/img/Re5.jpg">
                </div>
                <div class="review_text">
                    <h2 class="name">Losliya R</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"Five stars! Love the nutritional info. The quinoa salad was delicious and guilt-free.
                        Thanks for healthier choices!"
                    </p>
                </div>
            </div>
        </div>
    </div>